.header {
  height: 430px;
  width: 100%;
  margin-bottom: 15px;
  background-image: url("../../assets/background-haut.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
