<div class="footer">
  <div class="btn-actions">
    <button class="btn-blue">Mon profil > </button>
    <button class="btn-blue">Mon projet > </button>
    <button class="btn-red">Mon CV > </button>
  </div>
  <div class="upload-file">
    <div class="desc">Déposer votre CV en cliquant sur le button ci-dessous. Attention, le fichier doit etre au format PDF et ne doit pas exéder 2 Mo.</div>
    <div class="upload">
      <div class="label">Déposer mon CV <span style="color: #b20510; text-transform: capitalize">(Obligatoire)</span></div>
      <input type="file">
    </div>
    <button class="btn-upload">Finaliser mon profil</button>
  </div>
</div>
